
video {
  width: 100%;
}

.video-box {
  position: relative;
  margin-bottom: 80px;
}

.video-box video{
  position: relative;
  z-index: 0;
}

.overlay {
  position: absolute;
  top: 80%;
  left: 0;
  z-index: 1;
}

.categories-menu {
list-style: none;
display: flex;
justify-content: center;
padding-bottom: 40px;

}

.autoplay__img {
	height: 50px;
	margin-right: 20px;
	margin: 0 auto;
	padding: 0 20px;
	// width: 200px;
}

.video-title {
  font-size: 100px;
  padding: 0 40px;
  font-family: 'Roboto', sans-serif;
  font-weight: regular;
  font-weight: bold;
  }

  .categories-menu__button {
    height: 80px;
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: #323237;
    cursor: pointer;
    text-transform: uppercase;
    transition: transform 0.3s;
    margin-left: 40px;
    padding: 0 40px;
    display: block;
    border: none;

    &.active {
      transition: ease-in-out .4s;
      background-color: #82F4D2;
    }
  }

  .categories-menu__button:hover{
    transition: ease-in-out .4s;
    background-color: #82F4D2;
    }

.autoplay {
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 100px;;
}

.autoplay__img {
  height: 50px;
  margin: 0 auto;
}

// поиск
.search {
  font-size: 18px;
  padding-bottom: 50px;
}

.block-div {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  height: 50px;
}

.form-control {
  display: block;
  padding-right: 10px;
  width: 90%;
  height: 50px;
  padding: 6px 12px;
  line-height: 1.4;
  color: #555;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  outline: none;
}

.form-control:focus {
  border-color: #82F4D2;
  outline: 0;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
}

.form-group {
  width: 100%;
}

.form-group-btn {
  display: block;
  width: 25%;
  height: 50px;
}

.btn {
  display: block;
  width: 300px;
  height: 100%;
  color: #555;
  background-color: #82F4D2;
  border-color: #82F4D2;
  padding: 6px 12px;
  margin-bottom: 0;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 8px;
}



// Range slider
$clr_thumb: green;
$clr_thumb_dragged: red;
$clr_selection: red;
$clr_track: #444;
$clr_text: #444;
$clr_input_border: #999;
$clr_input_border_focus: $clr_thumb;
$triangle_width: 10px;
$triangle_height: 15px;
$track_height: 2px;
$fnt_size_values: 18px;

#app {
  margin: 40vh auto;
  max-width: 400px;
  color: $clr_text;
}

.range-slider {
  width: 240px;
  padding: 1em;
  background: rgba(#eee, 0.7);
  border-radius: 7px;
  box-shadow: 1px 1px 6px rgba(#000, 0.5);
}

.values-group {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  margin-bottom: 0.7em;
  font-family: Calibri, Arial;
  font-size: $fnt_size_values;
}

.value {
  font-size: 14px;
  width: 3em;
  border: 1px solid $clr_input_border;
  text-align: center;

  &:focus {
    outline: none;
    border-color: $clr_input_border_focus;
    box-shadow: 0 0 2px $clr_input_border_focus;
  }
}

.track {
  position: relative;
  width: inherit;
  height: $track_height;
  background: $clr_track;
}

.thumb {
  position: absolute;
  top: 0;
  left: 0;
  cursor: ew-resize;

  &::after {
    position: absolute;
    content: "";
    border-style: solid;
    border-width: $triangle_height;
    border-left-width: $triangle_width;
    border-right-width: $triangle_width;
  }
}

.thumb-min::after {
  border-top: none;
  border-color: transparent transparent $clr_thumb transparent;
  transform: translate(-50%, $track_height);
}

.thumb-max::after {
  border-bottom: none;
  border-color: $clr_thumb transparent transparent transparent;
  transform: translate(-50%, -100%);
}

.selection {
  position: absolute;
  width: unset;
  height: $track_height;
  background: $clr_selection;
  box-shadow: 0 0 10px rgba($clr_selection, 0.5);
}

.text {
  display: initial;
  margin-bottom: 0.5em;
}

.thumb-max.active::after {
  border-color: $clr_thumb_dragged transparent transparent transparent;
}

.thumb-min.active::after {
  border-color: transparent transparent $clr_thumb_dragged transparent;
}

.hide {
  display: none;
}

