 <div class="lightbox">
      <!-- backdrop -->
      <div class="lightbox__overlay"></div>
<!-- модальное окно -->
      <div class="lightbox__content">
        <img class="lightbox___image" src="" alt="" />
      </div>

      <button
        type="button"
        class="lightbox__button"
        data-action="close-lightbox"
      >
        <i class="material-icons">close</i>
      </button>
    </div>
