// /* full checkout */
.full-checkout {
  margin: 0 auto;
  width: 1170px;
  display: flex;
  justify-content: space-between;
}
/* checkout offer */
.order-width {
  width : 400px;
}
.checkout {
  font-weight: 700;
  font-family: 'Roboto', sans-serif;
  font-size: 32px;
  text-transform: uppercase;
}
.user {
  display: flex;
  flex-direction: column;
}
.comments {
  resize: none;
}
.user-info {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 900;
  font-family: 'Roboto', sans-serif;
  padding:10px 0 10px 0;
}
.attention {
  font-size: 11px;
  color: #FF1814;
  font-family: 'Roboto', sans-serif;
}
.accept a{
  text-decoration: none;
  color: #6D6A62;
}
.accept a:hover {
  color: #FF1814;
}
.submit-btn{
  width:195px;
  height: 50px;
  border:none;
  color: #ffffff;
  background: #FF0800;
  font-size: 14px;
  font-weight: 700;
  cursor: pointer;
  margin: 30px 0 30px 0;
}
/* cart */
.checkout-cart {
  margin-top:35px;
  width: 500px;
  height: 400px;
  border:2px solid #D8E1DD;
  padding: 20px 20px 20px 20px;
}
.checkout-cart__info {
  font-size: 24px;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color:#6D6A62;
}
.summ {
  display: flex;
  justify-content: space-between;
}
.total {
  font-size: 24px;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color:#6D6A62;
}
.total-li, .count {
  list-style: none;
}
.cart-btn{
  display: flex;
  justify-content: space-between;
}
.cart-button {
  width: 210px;
  height: 50px;;
  border: none;
  background: #D5CFBF;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  cursor: pointer;
}
/* modal */
.modal-bg{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, .5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 5;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s;
}
.bg-active {
  visibility: visible;
  opacity: 1;
}
.modal-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.modal {
  background-color: white;
  width:400px;
  height:350px;
  border-radius: 10px;
  padding: 10px 10px 10px 10px;
}
.user-agreement{
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  text-transform: uppercase;
}
.modal-body{
  font-family: 'Roboto', sans-serif;

}
.close-button {
  font-size: 30px;
  font-weight: 900;
  cursor: pointer;
}
