<!DOCTYPE html>
<html>

<head>
  <title>Admin products</title>
  <meta charset="UTF-8">
  <meta http-equiv="cache-control" content="no-cache" />
  <meta http-equiv="pragma" content="no-cache" />
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <meta name="viewport"
    content="width=device-width,user-scalable=0,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
    integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
  </head>

<body>
  <%= require('html-loader!../partials/navigation.html') %>
  <section class="adminLogin">
    <!-- <button class="close">X</button> -->
      <div class="adminContainer">
    <form class="login">
      <h2>Admin login</h2>
      <input type="text" placeholder="e-mail" name="email">
      <input type="text" placeholder="password" name="password">
      <button class="loginButton">Log in</button>
    </form>

  </div>
  </section>
  <section class="addItem">
      <div class="addItemContainer">
    <form class="AddNewItem">
      <h2>Add new item</h2>

      <p>Select image </p><input class="image" type="file" placeholder="Image Url" name="image">
      <input type="text" placeholder="Item name" name="name">
      <input type="text" placeholder="BrandName" name="brandName">
      <input type="text" placeholder="Description" name="description">
      <textarea  placeholder="Full Description" name="fullDescription"></textarea>
      <input type="text" placeholder="Price" name="price">
      <input type="text" placeholder="Size" name="size">
      <input type="text" placeholder="Color" name="color">
      <label class="checkbox-label" for="popular">
        <input class="checkbox" id="popular" type="checkbox" placeholder="Color" name="popular">
        <p style="display: inline-block;">Select popular </p>
      </label>

      <select name="Category" class="select">
          <option value="women">Woman</option>
          <option value="men">Man</option>
          <option value="kids">Kids</option>
          </select>
      <br><button class="addItemButton">Add item</button>
    </form>

  </div>
  </section>



​<section class="my-goods">

</section>



<div class="modal modal-hidden js-modal-backdrop">
  <div class="modal-content">
    <form id="update-form" class=" update-form AddNewItem sub-form adForm js-ad-form" action="#">
      <h2>Edit product</h2>
      <div class="close-btn" data-action="close-modal"></div>
      <div class="form-content">

      </div>
    </form>
  </div>
</div>


  <%= require('html-loader!../partials/footer.html') %>
  <%= require('html-loader!../partials/cart.html') %>

</body>

</html>
