<!DOCTYPE html>
<html>

<head>
  <title>Admin products</title>
  <meta charset="UTF-8">
  <meta http-equiv="cache-control" content="no-cache" />
  <meta http-equiv="pragma" content="no-cache" />
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <meta name="viewport"
    content="width=device-width,user-scalable=0,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
    integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link rel="stylesheet" href="./loginn.css">
  </head>

<body>
  <%= require('html-loader!../partials/navigation.html') %>
  <%= require('html-loader!../partials/nav.html') %>
  <section class="adminLogin">
      <div class="adminContainer">
    <form class="login">
      <h2>Admin login</h2>
      <input type="text" placeholder="login">
      <input type="text" placeholder="password">
      <button>Log in</button>
    </form>

  </div>
  </section>
  <section class="addItem">
      <div class="addItemContainer">
    <form class="AddNewItem">
      <h2>Add new item</h2>

      <p>Select image </p><input class="image" type="file" placeholder="Image Url" name="image">
      <input type="text" placeholder="Item name" name="name">
      <input type="text" placeholder="Description" name="description">
      <input type="text" placeholder="Full Description" name="fulllDescription">
      <input type="text" placeholder="Price" name="price">

      <select name="Category">
          <option value="Woman">Woman</option>
          <option value="Man">Man</option>
          </select>
      <br><button class="addItemButton">Add item</button>
    </form>

  </div>
  </section>

  <%= require('html-loader!../partials/footer.html') %>
</body>

</html>
