/* секция 1 */
.about-section-first {
  position: relative;
  margin-bottom: 60px;
}
.about-background {
  display: block;
  width: 100%;
  height: auto;
  margin: 0 auto;
}

.title-container {
  position: absolute;
  top: 120px;
  right: 10px;
  width: 600px;
}

.about-title {
  text-transform: uppercase;
  font-family: "Cormorant Garamond", serif;
  font-weight: 700;
  font-size: 45px;
  margin: 0 auto;
  text-align: center;
  line-height: 60px;
  padding-bottom: 60px;
  color: rgb(51, 51, 99);
}

.about-text {
  font-family: "Poppins", sans-serif;
  font-size: 30px;
  font-weight: light;
  line-height: 60px;
  color: #888888;
  line-height: 30px;
}

/* секция 2 */

.about-container {
  position: relative;
  width: 1170px;
  margin: 0 auto;
  margin-bottom: 60px;
}
.about-container:hover {
  transform: scale(1.02);
  transition: transform 0.5s;
}
.about-section-two {
  display: flex;
  flex-direction: column;
  box-shadow: inset 2px 2px 5px rgba(154, 147, 140, 0.5),
    1px 1px 5px rgba(255, 255, 255, 1);
  /* box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22); */
}
.about-us {
  width: 600px;
  position: absolute;
  font-size: 30px;
  right: 20px;
  top: 100px;
  color: rgb(51, 51, 99);
}

/* секция 3 */
.about-section-three {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-bottom: 60px;
  box-shadow: inset 2px 2px 5px rgba(154, 147, 140, 0.5),
    1px 1px 5px rgba(255, 255, 255, 1);
  /* box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22); */
}
.about-section-three__wrapper {
  position: absolute;
  font-size: 30px;
  width: 600px;
  top: 100px;
  color: rgb(51, 51, 99);
  padding-left: 30px;
}

/*  секция 4*/
.about-section-four {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  box-shadow: inset 2px 2px 5px rgba(154, 147, 140, 0.5),
    1px 1px 5px rgba(255, 255, 255, 1);
  /* box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22); */
  margin-bottom: 60px;
}

.about-section-four__wrapper {
  position: absolute;
  right: 30px;
  top: 26px;
  width: 700px;
  color: rgb(51, 51, 99);
}

/* 5 */
.about-section-five__wrapper {
    width: 500px;
    position: absolute;
    right: 30px;
    top: 120px;
    color: rgb(51, 51, 99);
    font-size: 30px;
}
.about-section-five {
    box-shadow: inset 2px 2px 5px rgba(154, 147, 140, 0.5),
    1px 1px 5px rgba(255, 255, 255, 1);
    margin-bottom: 100px;
}