

 <div class="collection-container">
     <div class="collection-card_background">
        <button class="collection-add_btn">Add to care</button>
    </div>
            <img src="{{image}}" alt='' width="300">
            
            <div class="collection-text">
            <h2 class="collection_brend">{{name}}</h2>
            <p class="collection_prise">{{price}}$</p>
            </div>

        </div>
