<section class="cart__section">
    <div class="cart__tag">
    <img class="cart__tagimage" src="../img/cart.svg" width="30px" height="30px" alt="shopping cart">
    <div class="cart scroll__style">
        <p class="cart__title">Your items:</p>
        <ul class="cart__items">
            <li class="cart_item">
                <img class="cart__item__img" src="../img/product_item_8.png" width="60px" height="60px" alt="">
                <div class="cart__descwrapper">
                    <div class="cart__item__description">
                        <span class="cart__item__name">Some item</span>
                        <span class="cart__item__price">300$</span>
                    </div>
                    <div class="quantity">
                        <svg class="cart__item__qtu__minus" width="15px" height="15px">
                            <use href="../img/minus-item.svg#Capa_1" fill="#666"></use>
                        </svg>
                        <span class="cart__item__qty">1</span>
                        <svg class="cart__item__qtu__plus" width="15px" height="15px">
                            <use href="../img/plus-item.svg#Capa_1" fill="#666"></use>
                        </svg>
                    </div>
                </div>
                <svg class="cart__close__item" width="20px" height="20px">
                    <use href="../img/close-item-cart.svg#Capa_1" fill="#fff"></use>
                </svg>
            </li>
            <li class="cart_item">
                <img class="cart__item__img" src="../img/product_item_8.png" width="60px" height="60px" alt="">
                <div class="cart__descwrapper">
                    <div class="cart__item__description">
                        <span class="cart__item__name">Some item</span>
                        <span class="cart__item__price">300$</span>
                    </div>
                    <div class="quantity">
                        <svg class="cart__item__qtu__minus" width="15px" height="15px">
                            <use href="../img/minus-item.svg#Capa_1" fill="#666"></use>
                        </svg>
                        <span class="cart__item__qty">1</span>
                        <svg class="cart__item__qtu__plus" width="15px" height="15px">
                            <use href="../img/plus-item.svg#Capa_1" fill="#666"></use>
                        </svg>
                    </div>
                </div>
                <svg class="cart__close__item" width="20px" height="20px">
                    <use href="../img/close-item-cart.svg#Capa_1" fill="#fff"></use>
                </svg>
            </li>
            <li class="cart_item">
                <img class="cart__item__img" src="../img/product_item_8.png" width="60px" height="60px" alt="">
                <div class="cart__descwrapper">
                    <div class="cart__item__description">
                        <span class="cart__item__name">Some item</span>
                        <span class="cart__item__price">300$</span>
                    </div>
                    <div class="quantity">
                        <svg class="cart__item__qtu__minus" width="15px" height="15px">
                            <use href="../img/minus-item.svg#Capa_1" fill="#666"></use>
                        </svg>
                        <span class="cart__item__qty">1</span>
                        <svg class="cart__item__qtu__plus" width="15px" height="15px">
                            <use href="../img/plus-item.svg#Capa_1" fill="#666"></use>
                        </svg>
                    </div>
                </div>
                <svg class="cart__close__item" width="20px" height="20px">
                    <use href="../img/close-item-cart.svg#Capa_1" fill="#fff"></use>
                </svg>
            </li>
            <li class="cart_item">
                <img class="cart__item__img" src="../img/product_item_8.png" width="60px" height="60px" alt="">
                <div class="cart__descwrapper">
                    <div class="cart__item__description">
                        <span class="cart__item__name">Some item</span>
                        <span class="cart__item__price">300$</span>
                    </div>
                    <div class="quantity">
                        <svg class="cart__item__qtu__minus" width="15px" height="15px">
                            <use href="../img/minus-item.svg#Capa_1" fill="#666"></use>
                        </svg>
                        <span class="cart__item__qty">1</span>
                        <svg class="cart__item__qtu__plus" width="15px" height="15px">
                            <use href="../img/plus-item.svg#Capa_1" fill="#666"></use>
                        </svg>
                    </div>
                </div>
                <svg class="cart__close__item" width="20px" height="20px">
                    <use href="../img/close-item-cart.svg#Capa_1" fill="#fff"></use>
                </svg>
            </li>
            <li class="cart_item">
                <img class="cart__item__img" src="../img/product_item_8.png" width="60px" height="60px" alt="">
                <div class="cart__descwrapper">
                    <div class="cart__item__description">
                        <span class="cart__item__name">Some item</span>
                        <span class="cart__item__price">300$</span>
                    </div>
                    <div class="quantity">
                        <svg class="cart__item__qtu__minus" width="15px" height="15px">
                            <use href="../img/minus-item.svg#Capa_1" fill="#666"></use>
                        </svg>
                        <span class="cart__item__qty">1</span>
                        <svg class="cart__item__qtu__plus" width="15px" height="15px">
                            <use href="../img/plus-item.svg#Capa_1" fill="#666"></use>
                        </svg>
                    </div>
                </div>
                <svg class="cart__close__item" width="20px" height="20px">
                    <use href="../img/close-item-cart.svg#Capa_1" fill="#fff"></use>
                </svg>
            </li>
        </ul>
        <span class="cart__price">Total price:</span>
        <span class="cart__totalprice">300$</span><br>
        <button class="cart__checkout">Checkout order</button>
    </div>
</div>
</section>