<section class="cart__section">
    <div class="cart__tag">
    <div class="cart__tag__notifier">1</div>
    <img class="cart__tagimage" src="../img/cart.svg" width="30px" height="30px" alt="shopping cart">
    <div class="cart scroll__style">
        <p class="cart__title">Your items:</p>
        <ul class="cart__items">
            
        </ul>
        <span class="cart__price">Total price:</span>
        <span class="cart__totalprice">300$</span><br>
        <button class="cart__checkout">Checkout order</button>
    </div>
</div>
</section>