<div class="wrapper">

  <section class="categories-promo">


    <div class="video-box">
      <video loop autoplay>
        <source src="../videos/videoplayback.mp4" type="video/mp4">
      </video>
      <div class="overlay">
        <h2 class="video-title">Nike collection</h2>
      </div>
    </div>

    <div class="autoplay">
      <div><img class="autoplay__img" src="../img/categories/adidas.webp" alt="Adidas"></div>
      <div><img class="autoplay__img" src="../img/categories/Asics.webp" alt="Asics"></div>
      <div><img class="autoplay__img" src="../img/categories/caprice2.webp" alt="Caprice"></div>
      <div><img class="autoplay__img" src="../img/categories/geox_respira.webp" alt="Geox Respira"></div>
      <div><img class="autoplay__img" src="../img/categories/Lasocki.webp" alt="Lasocki"></div>
      <div><img class="autoplay__img" src="../img/categories/Nike.webp" alt="Nike"></div>
      <div><img class="autoplay__img" src="../img/categories/timberland_bw.webp" alt="Timberland"></div>
      <div><img class="autoplay__img" src="../img/categories/Vagabond.webp" alt="Vagabond"></div>
      <div><img class="autoplay__img" src="../img/categories/Reebok.webp" alt="Reebok"></div>
    </div>
  </section>

  <section class="categories-shoes">
    <ul class="categories-menu">
      <li class="categories-menu__item"><button class="active categories-menu__button">All</button></li>
      <li class="categories-menu__item"><button class="categories-menu__button">Men</button></li>
      <li class="categories-menu__item"><button class="categories-menu__button">Women</button></li>
      <li class="categories-menu__item"><button class="categories-menu__button">Kids</button></li>
      <!-- <li class="categories-menu__item"><button class="categories-menu__button">Sales</button></li> -->
    </ul>
    <div class="categories-array"></div>
  </section>
  <button class="knopka">
    +
  </button>

  <!-- модальное окно -->
  <section class="signup-modal__wrapper">
    <div class="signup-modal">
      <a href="#" class="footer-nav__logo"><img src="../img/shopping-cart.svg" alt="">Sho<span class="logo-letter">e</span>Shop</a>
      <h2 class="signup-modal__h2">GET NEWS AND OFFERS FROM NIKE</h2>
      <p class="signup-modal__p">Sign up for emails and get special news and offers from the Nike family of brands, including Jordan and Hurley.</p>
      <form class="signup-modal_form" action="">
        <input type="text" name="" id="">
        <input type="text" name="" id="">
      </form>
      <button class="signup-modal__close">SIGN UP</button>
      <p>By signing up, you agree to Nike's Privacy Policy and Terms of Use.</p>
      <button class="signup-modal__close">x</button>
    </div>
  </section>

</div>
