<footer class="page-footer">
  <div class="wrapper">

    <div class="footer-wrapper">
      <nav class="footer-nav">
        <a class="footer-nav__logo" href="#">Shoe Shop</a>
        <ul class="footer-nav__list">
          <li><a class="footer-nav__link" href="">Home</a></li>
          <li><a class="footer-nav__link" href="">Man</a></li>
          <li><a class="footer-nav__link" href="">Woman</a></li>
          <li><a class="footer-nav__link" href="">About</a></li>
        </ul>
      </nav>

      <div class="form">
        <h2 class="form__title">Sign up for news and events</h2>
        <form class="form-submit">
          <input class="form-submit__input" type="e-mail" name="e-mail" placeholder="Your email address" />
          <button class="form-submit__button">Submit</button>
        </form>
        <ul class="footer-icons">
          <li class="footer-icons__item"><a href="#"></a></li>
          <li class="footer-icons__item"><a href="#"></a></li>
          <li class="footer-icons__item"><a href="#"></a></li>
          <li class="footer-icons__item"><a href="#"></a></li>
        </ul>
      </div>
    </div>

    <div class="footer-info">
      <span>Ⓒ Copyrights 2017. Shoe Shop by VictorThemes</span>
      <span>Contact Us</span>
    </div>

  </div>
</footer>
