<footer class="page-footer">
  <div class="wrapper">

    <div class="footer-wrapper">
      <nav class="footer-nav">
        <!-- <a class="footer-nav__logo" href="#">Shoe Shop</a> -->
        <a href="#" class="footer-nav__logo">
          <img src="../img/shopping-cart.svg" alt="">Sho<span class="logo-letter">e</span>Shop
        </a>
        <a href="#" class="footer-visa">
          <img src="../img/footer/visa.png" alt="">
        </a>

        <section class="modal__wrapper modal__wrapper-v">
          <div class="modal">
            <div class="modal-title__visa">
              <h2>Verified by Visa</h2>
              <p>11111111111111l</p>
            </div>
          </div>
        </section>
        <section class="modal__wrapper modal__wrapper-m">
          <div class="modal">
            <div class="modal-title__mastercard">
              <h2>Verified by Visa</h2>
              <p>2222222222222</p>
            </div>
            <button class="close">x</button>
          </div>
        </section>

        <a href="#" class="footer-mastercard">
          <img src="../img/footer/mastercard.png" alt="">
        </a>
        <ul class="footer-nav__list">
          <li><a class="footer-nav__link" href="index.html">Home</a></li>
          <li><a class="footer-nav__link" href="categories.html">Men</a></li>
          <li><a class="footer-nav__link" href="categories.html">Women</a></li>
          <li><a class="footer-nav__link" href="categories.html">Kids</a></li>
          <li><a class="footer-nav__link" href="about.html">About</a></li>
          <li><a class="footer-nav__link" href="admin-products.html">Admin</a></li>
        </ul>
      </nav>

      <div class="form">
        <h2 class="form__title">Sign up for news and events</h2>
        <form class="form-submit">
          <input class="form-submit__input" type="e-mail" name="e-mail" placeholder="Your email address" />
          <button class="form-submit__button">Submit</button>
        </form>
        <ul class="footer-icons">
          <svg class="footer-icons__svg">
            <use xlink:href="../img/sprite_footer.svg#twitter"></use>
          </svg>
          <svg class="footer-icons__svg">
            <use xlink:href="../img/sprite_footer.svg#facebook"></use>
          </svg>
          <svg class="footer-icons__svg">
            <use xlink:href="../img/sprite_footer.svg#instagram"></use>
          </svg>
          <svg class="footer-icons__svg">
            <use xlink:href="../img/sprite_footer.svg#pinterest"></use>
          </svg>
        </ul>
      </div>
    </div>

    <div class="footer-info">
      <div><span>© 2019 Shoe Shop, Inc. All Rights Reserved</span></div>
      <div>
        <span class="footer-info__span">Guides</span>
        <span class="footer-info__span">Terms of Use</span>
        <span class="footer-info__span">Terms of Sale</span>
        <span class="footer-info__span">Privacy Policy</span>
      </div>
    </div>

  </div>
</footer>
