
<!-- <header>
  <div class="header__back "> -->
    <!-- Logo -->
    <!-- <div class="wrapper">
      <div class="nav-position ">
      <a href="#" class="logo">
        <img src="../img/shopping-cart.svg" alt="">Sho<span class="logo-letter">e</span>Shop
      </a> -->
      <!-- Burger Menu -->
      <!-- <button class="nav-tgl" type="button" aria-label="toggle menu">
      <span aria-hidden="true"></span>
        </button>
        <nav class="nav">
          <ul class="nav__items">
            <li><a class="burger-list" href="#">Home</a></li>
            <li><a class="burger-list" href="#">About</a></li>
            <li><a class="burger-list" href="#">Categories</a></li>
          </ul>
        </nav>
      </div> -->
 <!-- Nike -->
 <!-- <div class="nike-pos">
    <div>
      <h2 class="firm">Nike</h2>
      <button class="brands">shop by brands</button>
      <p class="vertical-text">Nike, originally known as Blue Ribbon Sports was founded by University of Oregon track athlete Phil Knight</p>
    </div>
    <img class="shoes-pic" src="../img/Img@1X.png" alt="">
</div>
</div> -->
<!-- Socials -->
<!-- <ul class="socials">
  <li>
    <a href="#">
      <svg>
        <use href="../img/sprite.svg#facebook"></use>
      </svg>
    </a>
  </li>
  <li>
    <a href="#">
      <svg>
        <use href="../img/sprite.svg#twitter"></use>
      </svg>
    </a>
  </li>
  <li>
    <a href="#">
      <svg>
        <use href="../img/sprite.svg#pinterest"></use>
      </svg>
    </a>
  </li>
  <li>
    <a href="#">
      <svg>
        <use href="../img/sprite.svg#google-plus"></use>
      </svg>
    </a>
  </li>
</ul>
  </div>
</header> -->
