<header class="top-navigation">
  <div class="nav-position  wrapper ">
    <a href="index.html" class="logo">
      <img src="../img/shopping-cart.svg" alt="">Sho<span class="logo-letter">e</span>Shop
    </a>

    <!-- мы вам перезвоним -->
    <div class="callback">
      <p class="callback__text">We will call you back within 30 seconds!</p>
      <form class="callback__form">
        <input class="user_phone" type="text" name="phone" placeholder="+ 380...">
        <button class="callback__button" type="submit"> Call me!</button>
      </form>
    </div>

    <!-- Burger Menu -->
    <button class="nav-tgl" type="button" aria-label="toggle menu">
      <span aria-hidden="true"></span>
    </button>
    <nav class="nav">
      <ul class="nav__items">
        <li><a class="burger-list" href="index.html">Home</a></li>
        <li><a class="burger-list" href="about.html">About</a></li>
        <li><a class="burger-list" href="categories.html">Categories</a></li>
      </ul>
    </nav>
  </div>
</header>
