<div class="nav-position  wrapper">
  <a href="#" class="logo">
    <img src="../img/shopping-cart.svg" alt="">Sho<span class="logo-letter">e</span>Shop
  </a>
  <!-- Burger Menu -->
  <button class="nav-tgl" type="button" aria-label="toggle menu">
  <span aria-hidden="true"></span>
    </button>
    <nav class="nav">
      <ul class="nav__items">
        <li><a class="burger-list" href="/">Home</a></li>
        <li><a class="burger-list" href="#">About</a></li>
        <li><a class="burger-list" href="categories.html">Categories</a></li>
      </ul>
    </nav>
  </div>
