<section class="popularArrivals">
  <div class="container_arrivals">
    <h2>Popular Arrivals</h2>
    <ul class="shopItems">
      

    </ul>
  </div>
</section>

<!-- <section class="popularArrivals">
  <div class="container_arrivals">
    <h2>Popular Arrivals</h2>
    <ul class="shopItems">
      <li class="item">
          <div class="item_cart">
              <button class="item_button">
                <a href="../page-admin-home/autorization.html">Add to cart</a>
              </button>
            </div>
            <div class="item_imgContainer">
              <img
                src="https://c.static-nike.com/a/images/f_auto/q_auto/t_PDP_864_v1/kc12ugtouei5y3lkqspx/air-max-270-react-mens-shoe-bZ8t5l.jpg"
                class="item_img"
                width="250px">
            </div>
            <p class="item_name">Nike shoes</p>
            <p class="item_desc">Shop outdoors</p>
            <span class="item_price">$ 125</span>
            <span class="item_price item_sale-price">$ 100</span>
          </div>
      </li>
    </ul>
  </div>
</section> -->
