<section class="section-two">

    <div class="container">
      <!-- .banner-image -->
        <div class="banner-image">
            <img src="../img/section2/Img3.png" alt="sneakers" width="690">

        </div>
        <!-- .banner -->
<div class="banner">
  <!-- .banner__contetn -->
  <div class="banner__contetn">
    <!-- .banner__title -->
  <h2 class="banner__title">Nike Air Force One MID id</h2>
  <!-- .banner__text -->
  <p class="banner__text">Bring to the table win-win survival strategies to ensure proactive domination.
      At the end of the day, going forward</p>
</div>
  <!-- <div class="button-container"> -->
    <!-- <div class="button-container__but"> -->
  <button class="button-home">View Now</button>
<!-- </div> -->
<!-- <div class="button__border"></div> -->
<!-- </div> -->
</div>
</div>
  </section>
