<section class="slider_offer__section">
  <div class="slider_offer wrapper">
    <ul class="slider_offer__list container_offer">
      <li class="slider_offer__item">
          <h3 class="slider_offer__title">We Thought of you</h3>
            <p class="slider_offer__text">Lorem ipsum dolor sit, amet consectetur
              adipisicing elit. Sint quidem ad minima adipisci voluptas dolorem molestiae, reiciendis consequuntur
              est porro ipsam neque voluptates officiis, aliquid harum molestias provident, eum dolores?
              Delectus exercitationem atque vitae perspiciatis modi sequi eveniet? Natus obcaecati facere illum
              incidunt ad dignissimos molestiae, officiis nulla omnis dolorem!</p>
            <p class="slider_offer__name">Nandy Sweety</p>
            <p class="slider_offer__occupation">Ui Designer</p>

      </li>
      <button class="slider_offer__ctrl slider_offer__ctrl-prew"><span class="visually-hidden">prew</span></button>
      <button class="slider_offer__ctrl slider_offer__ctrl-next"><span class="visually-hidden">next</span></button>
    </ul>

  </div>
</section>
