<div class="split-slideshow">
  <div class="slideshow">
    <div class="slider">
      <div class="item first ">
        <img src="../img/Img@1X.png" />
      </div>
      <div class="item second">
        <img src="../img/wonam.png" />
      </div>
      <div class="item third">
        <img src="../img/kids.png" />
      </div>
      <div class="item fourth">
        <img src="../img/mans.png" />
      </div>
    </div>
  </div>
  <div class="slideshow-text">
    <div class="item">
      <h2 class="firm">Nike</h2>
      <button class="brands"><a href="categories.html">Shop by brands</a></button>
    </div>
    <div class="item">
      <h2 class="firm">Women</h2>
      <button class="womans"><a href="categories.html">Shop now</a></button>
    </div>
    <div class="item">
      <h2 class="firm">Kids</h2>
      <button class="kids"><a href="categories.html">Shop now</a></button>
    </div>
    <div class="item">
      <h2 class="mans__title">Men</h2>
      <button class="mans"><a href="categories.html">Shop now</a></button>
    </div>
  </div>
</div>
