<div class="shopItems">
      <div class="item">
        <div class="item_cart">
          <button class="item_button">
            Add to cart
          </button>
        </div>
        <div class="item_imgContainer">
        <img src=" {{src}} " class="item_img" width="250px">
      </div>
        <br><span class="item_name"> {{name}}</span>
        <span class="item_desc">{{desc}}</span>
        <br><span class="item_price">{{price}} $</span>
      </div>
