<div class="shopItems">
      <div class="item">
        <div class="item_cart">
          <button class="item_button">
            Add to cart
          </button>
        </div>
        <div class="item_imgContainer">
        <img src="https://c.static-nike.com/a/images/f_auto/q_auto/t_PDP_864_v1/kc12ugtouei5y3lkqspx/air-max-270-react-mens-shoe-bZ8t5l.jpg" class="item_img" width="250px">
      </div>
        <br><span class="item_name">Nike shoes</span>
        <span class="item_desc">Shop outdoors</span>
        <br><span class="item_price">$ 125</span>
      </div>
