<div class="item">
        <div class="item_cart">
          <button class="item_button">
            Add to cart
          </button>
        </div>
        <img src="../img/popularArrivals/cross1.jpg" class="item_img">
        <br><span class="item_name">Nike shoes</span>
        <span class="item_desc">Shop outdoors</span>
        <br><span class="item_price">$ 125</span>
</div>
