.cart__section {
    overflow: hidden;
}

.cart__tag {
    position: fixed;
    transition: 0.5s;
    right: 0px;
    top: 150px;
    border-radius: 10px 0 0 10px;
    background: rgba(53, 53, 53, .7);
    z-index: 101;
}

.cart__tag--isopen {
    transition: 1s;
    right: 350px;
    top: 150px;
}

.cart__tag__notifier {
    display: none;
    position: absolute;
    font-size: 14px;
    font-family: sans-serif;
    font-weight: 600;
    font-style: normal;
    text-decoration: none;
    top: -6px;
    left: -6px;
    background-color: red;
    color: white;
    border-radius: 10px;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
}

.cart__tag__notifier--enabled {
    display: block;
}

.cart__tagimage {
    width: 60px;
    padding: 16px 14px 13px 14px;
}

.cart__tagimage:hover,
.cart__tagimage:focus {
    cursor: pointer;
}

.cart {
    position: absolute;
    background: rgba(53, 53, 53, .7);
    height: 100vh;
    top: -150px;
    right: -350px;
    width: 350px;
    padding-left: 15px;
    overflow-y: scroll;
}

.cart__title {
    font-size: 24px;
    color: #ffffff;
    margin: 77px 0 35px 0;
}

.cart__items {
    padding: 0;
    border-bottom: 2px dashed #c2c2c2;
    margin-right: 15px;
    margin-bottom: 10px;
    padding-bottom: 15px;

}

.cart_item {
    display: flex;
    position: relative;
    width: 315px;
    align-items: center;
    list-style: none;
    color: #ffffff;
    margin-bottom: 20px;
    border-radius: 10px;
    // background: rgba(255, 255, 255, 0.1);
    background: rgba(130, 244, 211, .9);
}

.cart__descwrapper {
    width: 235px;
    display: flex;
    align-items: center;
}

.quantity {
    width: 45px;
    text-align: center;
}

.cart__item__qty__minus {
    position: absolute;
    top: 23px;
    right: 41px;
}

.cart__item__qty__minus:hover,
.cart__item__qty__minus:focus {
    cursor: pointer;
}

.cart__item__qty__plus {
    position: absolute;
    top: 23px;
    right: 9px;
}

.cart__item__qty__plus:hover,
.cart__item__qty__plus:focus {
    cursor: pointer;
}

.cart__item__qty {
    width: 50px;
    color: #666;
}

.cart__remove__item {
    position: absolute;
    top: -11px;
    right: -11px;
}

.cart__remove__item:hover,
.cart__remove__item:focus {
    cursor: pointer;
}

.cart__item__img {
    border-radius: 10px 0 0 10px;
    margin-right: 15px;
}

.cart__item__description {
    display: flex;
    overflow: hidden;
    flex-direction: column;
    width: 185px;
}

.cart__item__name {
    font-size: 14px;
    line-height: 24px;
    font-weight: 200;
    white-space: nowrap;
    color: #787878;
    font-style: italic;
}

.cart__item__price {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #1c534d;
}

.cart__price {
    color: #ffffff;
    font-style: italic;
    font-size: 24px;
    font-weight: 800;
    margin: 0;
    margin-right: 10px;
}

.cart__totalprice {
    color: #04f6f2;
    font-size: 24px;
    font-weight: 600;
    margin: 0;
}

.cart__checkout {
    width: 200px;
    height: 40px;
    margin-top: 15px;
    margin-bottom: 25px;
    border-radius: 20px;
    border: 1px solid #fff;
    background: rgba(255, 255, 255, .1);
    color: #ffffff;
    font-size: 18px;
    outline: none;
}

.scroll__style::-webkit-scrollbar {
	display: none;
}

