
.wrapper {
  margin: 0 auto;
  width: 1170px;
}
img {
display: block;
max-width: 100%;
height: auto;
}
/* Background */
.header__back{
background: linear-gradient(67deg, rgba(233,233,233,1) 50%, rgba(130,244,210,1) 50%);
background-repeat: no-repeat;
background-size: cover;
background-position: center;
max-width: 100%;
}
/* Logo */
.logo {
display: flex;
margin: 0;
align-items: center;
text-decoration: none;
color: #82F4D2;
font-family: 'Ubuntu', sans-serif;
font-size: 32px;
font-weight: 700;
width: 176px;
height: 36px;
}
.logo img{
display: inline-block;
width: 36px;
height: 40px;
margin-right: 5px;
}
.logo-letter{
color: #000000;
margin-right: 5px;
}

/* Position logo and navigation */
.nav-position{
display: flex;
justify-content: space-between;
align-items: center;
padding: 49px 0 87px 0;
}

/* Burger menu */
.burger-list {
display: block;
text-decoration: none;
font-family: 'Ubuntu';
font-weight: 700;
color: #ffffff;
text-align: center;
}

.nav__items {
position: relative;
text-transform: uppercase;
display: flex;
justify-content: space-evenly;
list-style: none;
font-size: 40px;
height: 100%;
}
.nav__items a:hover{
color:#2fcce7;
transition: ease-in-out .4s;
}

.nav{
display: block;
position: fixed;
display: flex;
justify-content: space-between;
left: 0;
top: 0;
width: 100%;
height: 100vh;
visibility: hidden;
padding-bottom: 300px;
z-index: 1;
}
.nav-tgl {
display: inline-block;
cursor: pointer;
position: relative;
z-index: 100;
width: 50px;
height: 50px;
border: none;
border-radius: 50%;
padding: 0;
background: #000000;
box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.24);
line-height: 0.6;
text-align: center;
}
.nav-tgl > span {
display: inline-block;
position: relative;
height: 2px;
width: 17px;
border-radius: 1px;
background: #ffffff;
vertical-align: middle;
}
.nav-tgl > span:before, .nav-tgl > span:after {
display: inline-block;
position: absolute;
content: "";
height: 2px;
border-radius: 1px;
background: #ffffff;
transition: all 200ms;
}
.nav-tgl > span:before {
top: -11px;
left: 3px;
width: 11px;
}
.nav-tgl > span:after {
top: 11px;
left: 3px;
width: 11px;
}
.nav-tgl:focus {
outline: none;
}
.nav-tgl:hover > span:after, .nav-tgl:hover > span:before {
width: 17px;
left: 0;
}
.nav-tgl.toggled > span {
height: 0;
}
.nav-tgl.toggled > span:after, .nav-tgl.toggled > span:before {
top: 0px;
left: 0;
width: 17px;
}
.nav-tgl.toggled > span:after {
transform: rotate(-45deg);
}
.nav-tgl.toggled > span:before {
transform: rotate(45deg);
}

.nav:before {
display: block;
position: fixed;
top: 0px;
right: calc((100vw - 1170px)/-4);
content: '';
width: 10px;
height: 10px;
background: rgba(45, 45, 45, 0.8);
transition: all 500ms ease-in-out;
clip-path: circle(30px at calc(100% - 65px) 65px);
visibility: hidden;
}


.active.nav {
visibility: visible;
}

.active.nav:before {
visibility: visible;
clip-path: circle(100%);
width: 110vw;
height: 100vh;
}
/* Firm and button */
.firm {
font-size: 150px;
font-family: 'Roboto', sans-serif;
font-weight: regular;
}
.brands {
width: 290px;
height: 58px;
font-size: 24px;
font-family: 'Roboto', sans-serif;
font-weight: bold;
color: #323237;
border: none;
cursor: pointer;
text-transform: uppercase;
position: relative;
transform-style: preserve-3d;
display: inline-block;
-webkit-apperance: none;
padding: 0.25em 1em;
transition: transform 0.3s;
margin-left: 73px;
}
.brands::after {
content: "";
position: absolute;
z-index: -1;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-color: #82F4D2;
border: none;
}
.brands::before {
content: "";
position: absolute;
z-index: -1;
top: 0;
left: 0;
width: 100%;
height: 100%;
border: 2px solid #82F4D2;
transform: translateX(-0.3em) translateY(0.3em);
background-color:transparent;
transition: transform 0.3s;
}
.brands:hover {
background-color: #323237;
color: #ffffff;
transform: translateX(-0.1em) translateY(-0.1em);
}
.brands:hover::before {
transform: translateX(-0.5em) translateY(0.5em);
}
/* Shoes */
.nike-pos {
display: flex;
justify-content: space-between;
position: relative;
}
.shoes-pic{
position: absolute;
left: 50%;
top: 50%;
transform: translate(-50%, -60%);
height: 74.75vh;
width: 73.78vh;
}
/* Vertical text */
.vertical-text {
color: #8f8f8f;
font-weight: 400;
line-height: 25px;
font-size: 14px;
width: 85px;
height: 362px;
writing-mode: tb-rl;
transform:rotate(180deg);


}
.socials {
position: absolute;
bottom: -420px;
right: 43px;
list-style: none;
}
.socials svg {
width: 40px;
height: 40px;
margin-bottom: 30px;

}
/* .socials svg :nth-last-child(n+2){
} */
.socials svg:hover {
fill:#ffffff;
transition: ease-in-out .4s;
}
