body {
  margin: 0;
}

.popularArrivals h2 {
  font-family: "Cormorant Garamond", serif;
  font-size: 45px;
  font-weight: 300;
  margin-top: 45px;
  margin-bottom: 60px;
}

.container_arrivals {
  width: 1170px;
  font-family: "Cormorant Garamond", serif;
  font-size: regular 25px;
  min-height: 635px;
  width: 1170px;
  margin: 0 auto;
  padding: 0;
}


.shopItems {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.item {
  position: relative;
  font-weight: 400;
  font-size: 15px;
  height: 443px;
  margin-bottom: 50px;
}

.item_name {
  display: inline-block;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  margin-right: 25px;
  margin-bottom: 28px;
}

.item_desc {
  display: inline;
  font-family: "Poppins", sans-serif;
  color: #c0c0c0;
  font-size: 15px;
}

.item_price {
  font-family: "Roboto", sans-serif;
  font-size: 25px;
  color: #999999;
  // margin-top: 85px;
}

.item_cart {
  opacity: 0;
  position: absolute;
  top: 0.5*0.95*312px;
  // left: 10px;
  left: 50%;
  transform: translate(-50%, -47%);

  width: 95%;
  height: 0.95*312px;
  background-color: rgba(144, 243, 215, 0.8);
}

.item_button {
  position: absolute;
  font-size: 20px;
  font-style: bold;
  top: 120px;
  left: 40px;
  width: 149px;
  height: 49px;
  border: 2px solid white;
  background-color: rgba(255, 255, 255, 0);
  color: white;
  cursor: pointer;
}

.item_cart:hover {
  opacity: 1;
}
.item_imgContainer {
  width: 250px;
  height: 305px;
  background-color: #f5f5f5;
  padding-top: 25px;
  margin-bottom: 50px;
}
.item_img {
  margin-bottom: 25px;
}

.item-name {
  display: flex;
  justify-content: space-between;
}

.store-title {
  font-family: "Cormorant Garamond", serif;
  font-size: 45px;
  font-weight: 300;
  margin-top: 45px;
  margin-bottom: 60px;
}

button {
  outline: none;
}
