<!DOCTYPE html>
<html>
<head>
  <title>My homepage</title>
  <meta charset="UTF-8">
  <meta http-equiv="cache-control" content="no-cache"/>
  <meta http-equiv="pragma" content="no-cache"/>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <meta name="viewport"
        content="width=device-width,user-scalable=0,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
</head>
<body>

  <!-- <%= require('html-loader!../partials/nav.html') %>

  <h1 class="page-title">
    <i class="fab fa-fort-awesome"></i>
    HOMEPAGE
  </h1>

  <%= require('html-loader!../partials/footer.html') %>
 -->
 <section class="section-two">

    <div class="container">
      <!-- .banner-image -->
        <div class="banner-image">
            <img src="../img/section2/Img3.png" alt="sneakers" width="690">

        </div>
        <!-- .banner -->
<div class="banner">
  <!-- .banner__contetn -->
  <div class="banner__contetn">
    <!-- .banner__title -->
  <h2 class="banner__title">Nike Air Force One MID id</h2>
  <!-- .banner__text -->
  <p class="banner__text">Bring to the table win-win survival strategies to ensure proactive domination.
      At the end of the day, going forward</p>
</div>
  <div class="button-container">
    <div class="button-container__but">
  <button class="button">View Now</button>
</div>
<div class="button__border"></div>
</div>
</div>
</div>
  </section>
</body>
</html>
